 
{% extends "profilesettings.html" %}
{% block form %}

 <div id="password">
               <form action="" method="post">
                  <label for="#newpassword">New password</label>
               	  <input id="newpassword" type="password" name="newpassword" class="form-control">
               	  <label for="#confirmnewpassword">Confirm new password</label>
               	  <input id="confirmnewpassword" type="password" name="confirmnewpassword" class="form-control">
               	  <label for="#oldpassword">Old password</label>
               	  <input id="oldpassword" type="password" name="oldpassword" class="form-control">
               	  <br>
               	  <button type="submit" class="btn btn-primary">Change password</button>
               	  {% csrf_token %}

               </form>
</div>
{% endblock %} 