{% extends "base.html" %}


{% block style %} 
      position:absolute;
{% endblock %}


{% block nav %}

              <li><a href="/userhome/">{{request.user.username}}</a></li>
              <li><a href="/accountsettings/"> <span class="glyphicon glyphicon-cog"></span></a></li>
              <li><a href="/logout/">Logout <span class="glyphicon glyphicon-log-out"></span></a></li>
{% endblock %}

{% block content %}

   <div class="container">
   	<h2>Create a new review</h2>
    <br><br>
   	<form action="" method="post">
   	   {{ form.title.label_tag }}
   	   {{ form.title }}

   	   {{ form.description.label_tag }}
   	   {{ form.description }}
   	   <p style="color:grey">Try to keep it short(Max 500 characters) </p>

   	   <br>

   	   <button type="submit" class="btn btn-success btn-lg">Create review</button>
   	   {% csrf_token %}

   	 </form>

   </div>

{% endblock %}